{$QUORUM_SITE_ADDRESS} {
  encode zstd gzip

  handle /api/v1/* {
    reverse_proxy app:3000
  }

  handle /health/* {
    reverse_proxy app:3000
  }

  handle {
    root * /srv
    try_files {path} /index.html
    file_server
  }
}
